@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  background: #050816;
  color: #fff;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.color-purple {
  color: #6563ff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.gap-1 {
  gap: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.app-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
}

.navbar {
  display: flex;
  gap: 10px;
  background-color: #050816;
  border-bottom: solid 2px #392793;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.navbar__title {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: end;
  gap: 10px;
}

.button_wrapper {
  min-width: 200px;
  max-width: 250px;
  display: flex;
  justify-content: flex-end;
}

.button {
  background: #6563ff;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  height: 35px;
  width: 100%;
  overflow: hidden;
  /* white-space: nowrap; */
  /* padding: 5px; */
  /* text-overflow: ellipsis; */
}

@media only screen and (max-width: 600px) {
  .button {
    max-width: 60%;
  }
}

.banner {
  max-height: 600px;
  overflow: hidden;
}

.banner__img {
  width: 100%;
  background-size: cover;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search-wrap {
  width: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-title {
  display: flex;
  color: #ffffff;
  justify-content: center;
  text-wrap: nowrap;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search__term {
  left: 50%;
  width: 80%;
  border: 1px solid #6563ff;
  border-right: none;
  padding: 5px;
  height: 57px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #3633f5;
  font-size: 17px;
}

.search__term:focus {
  color: #3633f5;
}

.search__button {
  width: 51px;
  height: 57px;
  border: 1px solid #6563ff;
  background: #6563ff;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1500px) {
  .search__term {
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .search-wrap {
    width: 80%;
  }
}

.green-pink-gradient {
  background: '#00cea8';
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.properties-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.properties-wrapper {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;
}

.property {
  background: #050816;
  max-width: 380px;
  height: 99.5%;
}

/* Modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  border: 1px solid #75618b;
  width: 80%;
  background-color: #201529;
  border-radius: 5px;
}
.exit-icon {
  cursor: pointer;
  font-size: 20px;
}
.modal-title {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
}

.modal-image {
  max-width: 500px;
}
.modal-image img {
  width: 100%;
}
.modal-text {
  text-align: justify;
}

.button-buy {
  background-color: #6821c3;
  border: 1px solid #6821c3;
  padding: 6px;
  color: white;
  border-radius: 7px;
}

.button-contact {
  background: #fff;
  border: 1px solid #6821c3;
  padding: 6px;
  color: #6821c3;
  border-radius: 7px;
}

.button-buy:disabled {
  background-color: #574a66;
}
